<ng-container *ngIf="!editing">
  <mat-card *ngIf="meetup$ | async as meetup">
    <mat-card-header>
      <mat-card-subtitle
        >Spielabend {{ meetup.name }}
        <mat-icon *ngIf="editable" (click)="editing = true">edit</mat-icon>
        <mat-spinner *ngIf="!meetup.s" diameter="18"></mat-spinner>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="meetup.address">Adresse: {{ meetup.address.value }}</p>
      <p *ngIf="meetup.frequency">Wann: {{ meetup.frequency.value }}</p>
      <p *ngIf="meetup.email">Email: {{ meetup.email.value }}</p>
      <p *ngIf="meetup.phone">Telefon: {{ meetup.phone.value }}</p>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="editing">
  <mat-card *ngIf="meetup$ | async as meetup">
    <mat-card-header>
      <mat-card-subtitle
        >Spielabend
        <input [(ngModel)]="meetup.name" />
        <mat-icon color="accent" (click)="change(meetup)">edit</mat-icon>
        <mat-spinner *ngIf="!meetup.s" diameter="18"></mat-spinner>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="meetup.address">
        Adresse:
        <input [(ngModel)]="meetup.address.value" />
      </p>
      <p *ngIf="meetup.frequency">
        Wann:
        <input [(ngModel)]="meetup.frequency.value" />
      </p>
      <p *ngIf="meetup.email">
        Email:
        <input [(ngModel)]="meetup.email.value" />
      </p>
      <p *ngIf="meetup.phone">
        Telefon:
        <input [(ngModel)]="meetup.phone.value" />
      </p>
    </mat-card-content>
  </mat-card>
</ng-container>
