:host {
  display: block;
  background: black;
}

:host > * {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  color: #f5e7c2;
  font-size: 2em;
}

img {
  border-radius: 10px;
  margin: 1em;
  width: 128px;
}
