@import "../../theme";

:host {
  display: block;
  background: $dark-background;
}

:host > * {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  color: #f5e7c2;
  font: 300 2em Chau Philomene One
}

img {
  border-radius: 10px;
  margin: 1em;
  width: 128px;
}
