@import "../../theme";

:host {
  display: block;
  width: 100%;
  background: $dark-background;
}

ul {
  display: block;
  width: fit-content;
  margin: auto;
}

li {
  display: inline-block;
  margin: 1em;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-darker-color);
}
