<mat-icon (click)="method = 'link'">mail_outline</mat-icon>
<mat-icon (click)="method = 'login'">exit_to_app</mat-icon>

<form *ngIf="method === 'login'" class="login-form">
  <mat-form-field>
    <label>
      <input matInput placeholder="Email" name="email" [(ngModel)]="email" />
    </label>
  </mat-form-field>

  <mat-form-field>
    <label>
      <input
        matInput
        placeholder="Password"
        type="password"
        name="password"
        [(ngModel)]="password"
      />
    </label>
  </mat-form-field>
  <mat-icon id="app-login" (click)="login()">exit_to_app</mat-icon>
</form>

<form *ngIf="method === 'link'" class="link-form">
  <mat-form-field>
    <label>
      <input matInput placeholder="Email" name="email" [(ngModel)]="email" />
    </label>
  </mat-form-field>

  <button mat-button (click)="link()">
    <mat-icon>mail_outline</mat-icon>
    Email-Login
  </button>
</form>
