@import "../../theme";

:host {
  display: flex;
  flex-direction: column;
  margin: 1em;
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
  background: $dark-bg-lighter-10;
}

textarea {
  height: 10em;
}
