<mat-card *ngIf="preference$ | async as preference">
  <mat-card-header>
    <mat-card-subtitle
      >Präferenzen
      <mat-spinner *ngIf="!preference.s" diameter="18"></mat-spinner>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-checkbox
        [(ngModel)]="preference.doNotDisturb"
        (ngModelChange)="change(preference)"
        >Keine Emails
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="preference.inviteMeToActivities"
        (ngModelChange)="change(preference)"
        >Einladungen zu Aktivitäten
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="preference.inviteMeToTournaments"
        (ngModelChange)="change(preference)"
        >Einladungen zu Turnieren
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="preference.inviteMeToDoodles"
        (ngModelChange)="change(preference)"
        >Einladungen zu Meinungsbildern (Doodle)
      </mat-checkbox>
    </p>
    <div *ngIf="true || !!preference.backupEmail || editBackupEmail">
      Backup-Email:
      <span *ngIf="!editBackupEmail">{{ preference.backupEmail }}</span
      ><input
        *ngIf="editBackupEmail"
        (keydown.enter)="change(preference)"
        [(ngModel)]="preference.backupEmail"
      />
      <mat-icon color="accent" (click)="editBackupEmail = !editBackupEmail"
        >edit
      </mat-icon>
    </div>
    <div>Rettungs-Code: <span>{{preference.secret}}</span></div>
  </mat-card-content>
</mat-card>
