<mat-card>
  <mat-card-header>
    <mat-card-subtitle>
      <h2>Spielabend</h2>
      <mat-form-field>
        <label>
          <input
            matInput
            placeholder="Name"
            name="name"
            [(ngModel)]="meetup.name"
          />
        </label>
      </mat-form-field>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <label>
        <input
          matInput
          placeholder="Adresse"
          name="adresse"
          [(ngModel)]="meetup.address.value"
        />
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input
          matInput
          placeholder="Wann"
          name="frequency"
          [(ngModel)]="meetup.frequency.value"
        />
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input
          matInput
          placeholder="Email-Kontakt"
          name="email"
          [(ngModel)]="meetup.email.value"
        />
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input
          matInput
          placeholder="Telefon-Kontakt"
          name="phone"
          [(ngModel)]="meetup.phone.value"
        />
      </label>
    </mat-form-field>
  </mat-card-content>
  <button mat-button (click)="change(meetup)">
    <mat-icon color="accent">save</mat-icon>
    Speichern
  </button>
</mat-card>
