<h1 class="mat-h1">Impressum</h1>
<div class="mat-body">
  <section>
    <p class="mat-h2">Registergericht:</p>
    Amtsgericht München <br>
    Registernummer:VR6714
  </section>
  <section>
    <p class="mat-h2">Verein:</p>
    Bayerischer Go-Verein e.V.
    E-Mail: <a href="mailto:info@bgov.de">info@bgov.de</a>
  </section>
  <section>
    <p class="mat-h2">Vertretungsberechtigter Vorstand:</p>
    Kai Meemken (Vorsitzender)
    E-mail: <a href="mailto:p@bgov.de">p@bgov.de</a><br>
    Peter Werner (Stellvertretender Vorsitzender)
    E-mail: <a href="mailto:stellvertreter@bgov.de">stellvertreter@bgov.de</a><br>
    Bernhard Odin Werner (Kassenwart)
    E-mail: <a href="mailto:kasse@bgov.de">k@bgov.de</a></section>
  <section>
    <p class="mat-h2">Inhaltlich Verantwortlicher gemäß § 6 MDStV:</p>
    Kai Meemken
  </section>
  <section align="justify">
    <p class="mat-h2">Haftungshinweis:</p>
    Trotz sorgfältiger und regelmäßiger Kontrolle übernehmen
    wir keine Haftung für die Inhalte externer Links. Für den Inhalt
    der verlinkten Seiten sind ausschließlich deren Betreiber
    verantwortlich.
  </section>
</div>
