<h1 class="mat-display-1">Impressum</h1>
<div class="mat-body">
  <section class="mat-h4">Registergericht:
    Amtsgericht München </section>
  <p>
    Registernummer: VR6714</p>
  <p>Verein:
    Bayerischer Go-Verein e.V.
    E-Mail: <a href="mailto:info@bgov.de">info@bgov.de</a>

    Vertretungsberechtigter Vorstand:
    Kai Meemken (Präsident)
    E-mail: <a href="mailto:p@bgov.de">p@bgov.de</a></p>
  <p>Inhaltlich Verantwortlicher gemäß § 6 MDStV:
  </p>
  <p>Redaktionelle Mitarbeit:
    Kai Meemken</p>
  <p>Technische Mitarbeit:
    Kai Meemken</p>
  <p align="justify">Haftungshinweis:
    Trotz sorgfältiger und regelmäßiger Kontrolle übernehmen
    wir keine Haftung für die Inhalte externer Links. Für den Inhalt
    der verlinkten Seiten sind ausschließlich deren Betreiber
    verantwortlich.
  </p>
</div>
