<h3 class="mat-h3">Willkommen auf der Webseite des BGoV</h3>

<p class="mat-5">
  Wir sind der Bayerische Go Verein. Unser Vereinszweck ist die Förderung des
  Sports bezüglich des
  <a href="https://de.wikipedia.org/wiki/Go_(Spiel)">Go-Spiels</a> und insoweit
  die Pflege des Go-Spiels. Der Verein erstrebt den Zusammenschluß aller
  Go-Spieler und am Go interessierter Personen in Bayern.
</p>

<p class="mat-5">
  Diese Seite ist noch in Arbeit, daher bitte ich etwaige Fehler und
  Unzulänglichkeiten zu entschuldigen. Wir brauchen dringend Hilfe bei der
  Verbesserung dieser Seite. Insbesondere brauchen wir Bilder, Design,
  Vorschläge zu Funktionen und vieles mehr.
</p>

<p class="mat-p5">
  Mitglieder unseres Vereins können sich bereits (oben rechts) mit ihrer bei der
  Mitgliederanmeldung angegebenen Email Adresse einloggen. Wenn Ihr die Email
  nicht mehr kennt, die Ihr damals angegeben habt, dann informiert uns bitte per
  <a href="mailto:vorstand@bgov.de">Email</a>. Mitglieder können dann ihre
  Spielabende und Go Treffen hier veröffentlichen. Ich hoffe ihr macht davon
  reichlich Gebrauch.<br />
  Kai Meemken, Präsident
</p>
