@import "../../theme";

:host {
  margin: auto;
  margin-top: 1em;
  padding: 2em;
  border-radius: 1em;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $dark-background;
  color: #f5e7c2;
}
