@import "theme";
@import "reset";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* { margin: 0 }

html {
  background: $light-background;
}

body {
  height: 100%;
  width: 1024px;
  margin: auto;
}
